name: full-tests

on:
  push:
    branches: [ main ]

jobs:
  test:
    name: PHP ${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-latest
            php: 8.2
            laravel: 12.*
            stability: prefer-stable
            testbench: 10.*

          - os: ubuntu-latest
            php: 8.4
            laravel: 12.*
            stability: prefer-stable
            testbench: 10.*

          - os: ubuntu-latest
            php: 8.2
            laravel: 11.*
            stability: prefer-stable
            testbench: 9.*

          - os: windows-latest
            php: 8.2
            laravel: 12.*
            stability: prefer-stable
            testbench: 10.*

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: mbstring, sqlite, pdo_sqlite
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" \
                           "orchestra/testbench:${{ matrix.testbench }}" \
                           --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Run tests
        run: vendor/bin/pest --ci
